{% extends "base.html" %}
{% load static %}

{% block title %}{% if form.instance.id %}Modifica Evento{% else %}Crea Nuovo Evento{% endif %} - Event Manager{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/forms.css' %}">
{% endblock %}

{% block content %}
<a href="{% url 'event_list' %}" class="back-link">Torna agli eventi</a>

<div class="form-container">
    {% if form.instance.id %}
        <h2>Modifica Evento</h2>
    {% else %}
        <h2>Crea Nuovo Evento</h2>
    {% endif %}

    <p class="form-mandatory-notice">
        I campi contrassegnati con l'asterisco (<strong>*</strong>) sono obbligatori.
    </p>

    <form method="POST">
        {% csrf_token %}

        {% for field in form %}
            <div class="form-group">
                <label for="{{ field.id_for_label }}">{{ field.label }} {% if field.field.required %}*{% endif %}</label>
                {{ field }}
                {% if field.errors %}
                    <div class="form-errors">{{ field.errors }}</div>
                {% endif %}
                {% if field.help_text %}
                    <div class="form-help-text">{{ field.help_text }}</div>
                {% endif %}
            </div>
        {% endfor %}

        {% if form.non_field_errors %}
            <div class="form-alert-error">
                {{ form.non_field_errors }}
            </div>
        {% endif %}

        <div class="form-actions">
            <button type="submit" class="btn btn-success">
                {% if form.instance.id %}
                    Salva Modifiche
                {% else %}
                    Crea Evento
                {% endif %}
            </button>
            <a href="{% if request.META.HTTP_REFERER %}{{ request.META.HTTP_REFERER }}{% else %}{% url 'event_list' %}{% endif %}"  class="btn-cancel btn">Annulla</a>
        </div>
    </form>
</div>
{% endblock %}